
/*html, body {background: #fff; font-family:"Helvetica Neue", Helvetica, STHeiTi, sans-serif; color:#666; background:#edeeef}*/
html, body {background: #fff; font-family:"Microsoft Yahei"; color:#b1b1b1; background:#f9f9f9;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,th,var { font-style:normal; font-weight:500; }
ol,ul { list-style:none; }
table { border-collapse:collapse; border-spacing:0; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; color: #000; font-weight:500; }
abbr,acronym { border:0; }
del{text-decoration:line-through}
input, select, textarea{font-size:100%;font-family:"Microsoft Yahei";}
textarea{resize:none;}
q:before,q:after{content:''}
ins,a{ color: #333; text-decoration:none;}
img {  max-width:100%}
.fl {  float:left}
.fr {  float:right}


/*登录*/
.loginCount{  position: absolute; top: 50%; left: 50%; margin: -225px  0 0 -400px; width: 800px; background: #FFFFFF;box-shadow: 0 42px 34px 0 rgba(0,0,0,0.15);border-radius: 6px; }
.loginCount .login_logo{ position: relative; width: 360px; height: 450px;background: #D0AA6A;border-radius: 6px 0 0 6px; }
.loginCount .login_logo .teng_Logo{ width: 203px; height:39px; margin:100px auto 10px  auto}
.loginCount .login_logo .teng_font{ text-align: center}
.loginCount .login_logo .teng_font>h4{ font-size: 24px;  font-weight: 600; line-height: 33px; color: #fff}
.loginCount .login_logo .teng_font>p{ font-size: 22px ; color: #fff; line-height: 30px; margin: 8px 0 0 0}
.loginCount .login_logo .teng_foot{ position: absolute; bottom: 20px; left: 0;  width: 100%; font-size: 12px;  color: #fff; text-align: center}

.loginCount  .login_inp{ width: 435px; }
.loginCount  .login_inp .login_Tx{ width: 80px; height: 80px; overflow: hidden; margin: 45px auto 10px auto}
.loginCount  .login_inp .login_Tx>img{width: 80px;}
.login_wapper{ width: 343px; margin: auto}
.loginCount  .login_inp .login_inputFile{ background: #F6F6F6;border-radius: 4px; overflow: hidden }
.width_310{ width: 310px;  }
.width_260{ width: 260px; }
.width_180{ width: 180px; }
.login_inputFile{}
.login_inputFile>ul{}
.login_inputFile>ul>li{ overflow: hidden; border-bottom: 1px solid #e8e8e8}
.login_inputFile>ul>li:last-child{ border-bottom: none}
.login_inputFile>ul>li>div{ padding: 10px 15px;}
.login_inputFile>ul>li>div>input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #c9c9c9; opacity:1;
}

.login_inputFile>ul>li>div>input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #c9c9c9;opacity:1;
}

.login_inputFile>ul>li>div>input:-ms-input-placeholder{
    color: #c9c9c9;opacity:1;
}

.login_inputFile>ul>li>div>input::-webkit-input-placeholder{
    color: #c9c9c9;opacity:1;
}
.login_inputFile>ul>li>div>input{ background: #F6F6F6; color: #333; font-size: 15px;height: 21px; width: 100%; line-height: 21px; outline: none; border: none}
.login_inputFile>ul>li>a{ display: inline-block; }
.click_eye{margin: 14px 15px 0 0;  width: 20px;  height: 11px; background: url(../images/ts_eye.png) no-repeat  top center; background-size: cover;}
.click_eye:hover,.login_inputFile>ul>li .active{ background-position: 0 -14px}
.passtext{ display: none}
.ts_yzm{ width: 100px; height: 35px; margin: 3px 15px 0 0;  overflow: hidden}
.loginBtn{ margin: 25px auto 17px auto}
.loginBtn>button{background: #D0AA6A;border-radius: 4px; width: 100%; height: 44px;font-size: 17px;color: #FFFFFF; outline: none; border: 0;}
.loginBtn>button:hover{ transition: 0.5s; -webkit-transition: 0.5s; opacity: 0.9}
.forget .forget_fl{font-size: 14px;color: #585858;overflow: hidden;cursor:pointer;  position: relative}
.forget .forget_fl>input{ position: absolute; top: 0; left: 0; opacity: 0; display: none}
.forget .forget_fl>i{float: left;display: inline-block;width: 22px;height: 22px;background: url("../images/checked.png") no-repeat top center;background-size: cover;}
.forget .forget_fl>span{float: left;color: #333;margin: 0 0 0 10px}
.forget .forget_fl .active{background-position: 0 -23px;  }
.forget .forget_fr{font-size: 14px;color: #1388F4;}
.forget .forget_fr>a{color: #1388F4;}
.forget .forget_fr>a:hover{  opacity: 0.8}

.login_inp { margin-top: 30px; }






.newACount{ position: relative}
.newACount>div{height: 300px;}
/*左*/
.main-sidebar{background: #FFFFFF;   -webkit-transition : all .3s;transition: all .3s;
    box-shadow: 1px 0 4px 0 rgba(0,0,0,0.10); position: absolute; top:0; left: 0; width: 250px; border: 1px solid red; height: 100% }
.main-sidebar_100{width: 80px!important;}

.mainLogo{ height: 65px;  text-align: center; overflow: hidden ; background: #fff;box-shadow: 0 1px 2px 0 rgba(0,21,41,0.10);}
.mainLogo>img{ margin: 15px 12px 0  88.5px ;float: left}
/*.logo_head_left { margin: 15px 12px 0  12px ; }*/
/*.logo_head_right {  }*/
.mainLogo>span{font-size: 16px;color: #D0AA6A; float: left; margin: 20px 0 0 0}
/*右*/
.content-wrapper{ margin: 0 0   0 250px; border: 1px solid red; -webkit-transition: all .3s;transition: all .3s; }
.content-wrapperLeft{margin: 0 0   0 80px;-webkit-transition: all .3s;transition: all .3s;}

.content-Header{ height: 65px; background: #fff;box-shadow: 0 1px 2px 0 rgba(0,21,41,0.10); }
.content-Header .click_sx{  display: inline-block; width: 24px; height: 18px; margin: 23px  0 0  20px; cursor: pointer}
.content-Header .click_sx>img{-webkit-transition: -webkit-transform 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out;
    -o-transition: -o-transform 0.2s ease-out;
    -ms-transition: -ms-transform 0.2s ease-out;}

.content-Header .active img{
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg)

}

.content-Header .search{background: #F5F5F5;border-radius: 100px; width: 351px; padding: 2px; height: 34px; margin: 15px 0  0 25px;}
.content-Header .search >span{ position: relative; font-size: 14px;color: #B1B1B1;  float: left; padding: 0 15px; display: inline-block; height: 34px; line-height: 34px;}
.content-Header .search >span:after{
      position: absolute;
      top: 15%;
      height: 70%;
       border-right: 1px solid #b1b1b1;
      right: 0;
      content: '';
}
.content-Header .search >input{ float:left; width: 200px;  margin: 7px 5px;background: #F5F5F5; border: none; outline: none; font-size: 14px; color: #B1B1B1}
.content-Header .search >i{ float: right; color: #bbbbbb; margin: 8px 15px 0 0; cursor: pointer}

.search>input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #b1b1b1;
}

.search>input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #b1b1b1;
}

.search>input:-ms-input-placeholder{
    color: #b1b1b1;
}

.search>input::-webkit-input-placeholder{
    color: #b1b1b1;
}

.countfr{ padding: 10px 0 0 0}
.countfr>ul{}
.countfr>ul>li{  float: left; margin:  0 35px 0 0}
.countfr>ul>li>a{font-size: 14px;color: rgba(0,0,0,0.65); position: relative; display: inline-block; margin: 10px 0 0 }
.countfr>ul>li>a>i{ font-size: 20px; color: #b1b1b1; vertical-align: middle; margin: 0 10px 0 0}
.countfr>ul>li>a>span{ display: inline-block; position: absolute; top: -5px; right: -3px; width: 24px; height: 16px;background: #F35959;
    border-radius: 15px; color: #fff; font-size: 12px; text-align: center}
.countfr>ul>li>div{ overflow: hidden}
.countfr>ul>li>div>img{ float: left; width: 42px; height: 42px; border-radius: 50%; }
.countfr>ul>li>div>span{font-size: 14px; float:left;color: #555555; margin:  12px 0 0 10px}


/*菜单*/
.menu{}
.menu>ul{}
.menu>ul>li{}
.menu>ul>li>a{ text-align: center; display: inline-block; width: 100%; height: 40px;
    vertical-align: middle;
    -webkit-transition : all 0.3s;
    transition: all 0.3s;
    }
.menu>ul>li .menu_ico{ color: rgba(99,99,99,0.73); font-size: 20px; margin:10px 18px ; float: left}
.menu_iconone{ float: none!important; animation-delay:1s;
    -webkit-animation-delay:1s;}
.menu>ul>li >a >span{  float:left; display: inline-block; font-size: 14px;color: rgba(99,99,99,0.73); line-height: 40px;}
.menu>ul>li  .menu_jt{  color: #333; font-size: 15px; float: right; margin: 10px 18px 0  0 ;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out;
    -o-transition: -o-transform 0.2s ease-out;
    -ms-transition: -ms-transform 0.2s ease-out;}
.menu>ul>li>a:hover{ background: #D0AA6A; color: #fff}
.menu>ul>li>a:hover i,.menu>ul>li>a:hover span{ color: #fff}
.menu ul .active > a{background: #D0AA6A; color: #fff!important;}
.menu ul .active>a >i,.menu ul .active>a>span{ color: #fff!important;}
.menu ul .active>a .menu_jt{
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg)
}


.menu>ul>li>div{ display: none}
.menu>ul>li>div>a{ display: inline-block; width: 190px; padding:  0 0 0 60px; font-size: 14px; color: #666; height: 40px; line-height: 40px; }
.menu>ul>li>div>a:hover{ background: #D0AA6A; color: #fff}

.menu>ul>li >div .active {background: #D0AA6A; color: #fff}


































